*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#eef2f8;
    padding:12px;
}


/* ===== Navbar ===== */

#navbar{
    background:white;
    border-radius:22px;
    padding:16px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    animation:show .4s ease;
}


#profile{
    display:flex;
    flex-direction:column;
}


#name{
    font-size:22px;
    font-weight:800;
    color:#222;

    margin-bottom:10px;
}


#stats{
    display:flex;
    gap:10px;
}


.stat{

    display:flex;
    align-items:center;
    gap:6px;

    background:#f4f5ff;

    padding:8px 14px;

    border-radius:14px;

    font-size:15px;
    font-weight:bold;

}


.icon{
    font-size:18px;
}


/* ===== Menu Button ===== */


#menuBtn{

    width:50px;
    height:50px;

    border:none;
    border-radius:15px;

    background:#5146e5;

    color:white;

    font-size:25px;

    cursor:pointer;

    transition:.2s;

}


#menuBtn:active{

    transform:scale(.9);

}



/* ===== Reward ===== */

#reward{

    margin-top:18px;

    background:white;

    border-radius:22px;

    padding:16px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    animation:show .5s ease;
}



.rewardText h2{

    font-size:20px;

    color:#222;

}


.rewardText p{

    margin-top:7px;

    color:#777;

    font-size:15px;

}



#claimBtn{

    border:none;

    background:#5146e5;

    color:white;

    padding:11px 18px;

    border-radius:14px;

    font-weight:bold;

    cursor:pointer;

    transition:.2s;

}


#claimBtn:hover{

    transform:translateY(-2px);

}



/* ===== Menu ===== */


#menu{

    display:none;

    position:fixed;

    top:85px;

    right:12px;

    width:190px;

    background:white;

    border-radius:18px;

    overflow:hidden;

    box-shadow:0 12px 30px rgba(0,0,0,.18);

}


#menu.show{

    display:block;

    animation:drop .25s ease;

}



#menu button{

    width:100%;

    padding:15px;

    border:none;

    background:white;

    text-align:left;

    font-size:15px;

    cursor:pointer;

    transition:.2s;

}



#menu button:hover{

    background:#f2f3ff;

    padding-left:20px;

}



#logoutBtn{

    color:#e53935;

}



/* ===== Animation ===== */


@keyframes show{

    from{

        opacity:0;

        transform:translateY(15px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}



@keyframes drop{

    from{

        opacity:0;

        transform:translateY(-10px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}
